body {
    text-align: center;
}

.replay {
    margin: 50px;
    padding: 20px;
    border-radius: 20px;
    background-color: #850000;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice {
    text-align: center;
    display: inline-block;
}

.red {
    background-color: red;
}

body {
    background-color: #393E46;
}

h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 5rem;
    color: #4ECCA3;
}

p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
}

img {
    width: 80%;
}

.stats {
    color: white;
}

.stats tr {
    font-size: 3rem;
}

footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

.imgs{
    width: 400px;
    margin: 40px;
}